.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapperCanvas {
  box-sizing: border-box;
  background-color: #dcdcdc;
}

.canvas {
  display: flex;
  transition: 0s;
  z-index: 1;
}

.nonCanvas {
  display: none;
  transition: 0s;
}

.line {
  display: flex;
  box-sizing: border-box;
  background-color: #dcdcdc;
}

.lineHidden {
  display: none;
}

.nonWrapperLine {
  display: none;
}

.commonDiv {
  font-size: 22px;
  color: #fff;
}

.commonDivHidden {
  display: none;
}

.buttonHint {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.buttonHintHidden {
  display: none;
}
