.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  /* min-width: 100%; */
  margin: 0 auto;
}

.wrapperSelect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.header {
  display: flex;
  gap: 40px;
}

.wrapperModal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  justify-content: start;
  padding: 40px 0px;
  align-items: center;
  overflow-y: auto;
  background: rgba(40, 40, 40, 0.8);
  z-index: 4;
}
