.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  color: #fff;
}

.select {
  width: 80px;
  text-align: center;
  padding: 5px 0;
  font-size: 18px;
  color: rgb(71, 71, 71);
}

.option {
  color: rgb(71, 71, 71);
}

.optionColor {
  color: #e4bb04;
}
